* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
body {
  background-color: #F8F5FD;
  color: #333;
}

.logo {
  
 width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #7b5cf6; 
}
.navbar a{
    text-decoration: none;
    margin: 25px;
    color: #444;
    font-weight: 600;
}
.hero p{
    font-size: 32px;
}
.hero span {
  color: #7B5CF6;
  font-size: 100px;
}
.hero h1 {
  font-size: 48px;
}
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero button {
  margin-top: 20px;
  padding: 12px 30px;
  background: #7B5CF6;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 200px;
    
}
.hero-title {
  font-size: 48px;
  font-weight: 700;
}

.name {
  display: inline-block;
  color: #7b5cf6;
  animation: slideToCenter 1.2s ease-out forwards;
}

.hero button a{
      text-decoration: none;
      color: whitesmoke;
      width: 200px;
}
@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
}
.social-icons {
    margin-top: 25PX;
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}
.social-icons a {
  width: 45px;
  height: 45px;
  background: #e9ddff;
  color: #7b3fe4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
     animation: jump 1.5s infinite;
}
.arr{
    font-size: 31px;
    animation: jump 1.5s infinite;
}
.arr a{
    text-decoration: none;
}

/* about */
.about {
  padding: 60px 8%;
  margin-left: 80PX;
}
.about-header {

  text-align: center;
  margin-bottom: 70px;
}
.about-header h1 {
  font-size: 42px;
  font-weight: 600;
}
.about-header p {
  color: #666;
  margin-top: 0px;
}
.about-container {
  display: flex;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}
/* Image */
.about-image img {
  width: 320px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
/* Content */
.about-content {
  max-width: 500px;
}
.about-content p {
  margin-bottom: 20px;
  line-height: 1.7;
  color: #555;
}
/* Button */
.btn {
  background: #7b3fe4;
  color: white;
  border: none;
  padding: 12px 22px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

a{
    text-decoration: none;
}

.btn:hover {
  background: #5f2fc9;
}
/* Responsive */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
}


.skills-section {
  padding: 60px 80px;
}

.skills-title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 40px 0 20px;
}

.skills-title h2 {
  font-size: 28px;
  color: #111;
}

.skill-count {
  background: #eee;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  color: #555;
}

.skills-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.skills-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skill-box {
  background: #fff;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
}

.skill-box h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.skill-box p {
  font-size: 14px;
  color: #777;
}

.stars {
  margin-top: 8px;
  font-size: 20px;
  color: #7b5cf6;
}

/* Full width cards */
.skill-box.full {
  width: 100%;
}
.skill-card:hover {
  transform: translateY(-6px);
}
.skill-box:hover {
  transform: translateY(-6px);
}
/* Responsive */
@media (max-width: 900px) {
  .skills-row {
    grid-template-columns: 1fr;
  }

  .skills-section {
    padding: 40px 20px;
  }
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.tool-card {
  background: #fff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
  
}

.tool-head {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
}

.tool-head img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.tool-card h3 {
  font-size: 20px;
  margin: 0;
}

.tool-card p {
  font-size: 14px;
  color: #777;
}

.stars {
  margin-top: 8px;
  font-size: 20px;
  color: #7b5cf6;
}
.tool-card:hover {
  transform: translateY(-6px);
}
.education-section {
  padding: 80px 120px;
  background: #ffffff;
  font-family: Arial, sans-serif;
}

.edu-title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: #0f172a;
}

.edu-subtitle {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: #64748b;
}

.edu-card {
  margin-top: 60px;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
  display: flex;
  gap: 30px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.edu-logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.edu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edu-header h3 {
  font-size: 26px;
  color: #0f172a;
  margin: 0;
}

.status {
  background: #dcfce7;
  color: #15803d;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 500;
}

.university {
  margin-top: 6px;
  font-size: 18px;
  color: #7c3aed;
}

.specialization {
  margin-top: 6px;
  font-size: 16px;
  color: #475569;
}

.edu-meta {
  margin-top: 12px;
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #64748b;
}

.edu-desc {
  margin-top: 18px;
  font-size: 15px;
  line-height: 1.7;
  color: #475569;
}

/* Responsive */
@media (max-width: 900px) {
  .education-section {
    padding: 60px 20px;
  }

  .edu-card {
    flex-direction: column;
  }

  .edu-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.edu-card {
  transition: all 0.3s ease;
}

.edu-card:hover {
animation: slideFromLeft 1.2s ease-out forwards;
  box-shadow: 0 20px 45px rgba(95, 47, 201, 0.25);
}
.contact-section {
  padding: 90px 120px;
  background: #ffffff;
  font-family: Arial, sans-serif;
}

.contact-title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: #0f172a;
  animation: slideFromLeft 1.2s ease-out forwards;
    text-shadow: 0 20px 45px rgba(95, 47, 201, 0.25);
}

.contact-subtitle {
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
  color: #64748b;
}

.contact-wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Cards */
.contact-card,
.info-card {
  background: #ffffff;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 14px 35px rgba(0, 0, 0, 0.07);
}

.contact-card h3,
.info-card h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Form */
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #0f172a;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  outline: none;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #7c3aed;
}

button {
  width: 100%;
  padding: 14px;
  background: #8b5cf6;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #7c3aed;
}

/* Right Info */
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info-item {
  display: flex;
  gap: 15px;
  margin-bottom: 16px;
}

.icon {
  background: #ede9fe;
  color: #7c3aed;
  padding: 10px;
  border-radius: 10px;
}

.info-item p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #64748b;
}

hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 20px 0;
}

.follow {
  font-weight: 600;
  margin-bottom: 10px;
}

.socials span {
  display: inline-block;
  background: #ede9fe;
  color: #7c3aed;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.small-text {
  font-size: 14px;
  color: #64748b;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 900px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

  .row {
    grid-template-columns: 1fr;
  }

  .contact-section {
    padding: 60px 20px;
  }
}
#contact{
  animation: slideFromLeft 1.2s ease-out forwards;
}
@keyframes slideToCenter {
  from {
    transform: translateX(300px); /* start from right */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* center position */
    opacity: 1;
  }
}
@keyframes slideToCenter {
  from {
    transform: translateX(300px); /* start from right */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* center position */
    opacity: 1;
  }
}
.about-image   {
  overflow: hidden; /* prevents overflow during animation */
}

.about-image img {
  width: 100%;
  max-width: 380px;
  border-radius: 18px;
  animation: slideFromLeft 1.2s ease-out forwards;
   animation-delay: 0.8s;
}

/* Keyframes */
@keyframes slideFromLeft {
  from {
    transform: translateX(-120px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
